<% if @dibber.errors.any? %>
<div class="row">
  <div class="alert alert-danger col-md-8 col-md-offset-2">
    <h5>Please fix the following errors: </h5>
      <ul>
        <% @dibber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
      <%= form_for @dibber do |f| %>

      <%= f.label :name%>
      <%= f.text_field :name%>

      <%= f.label :email%>
      <%= f.email_field :email%>

      <%= f.label :password%>
      <%= f.password_field :password%>


      <%= f.submit(@dibber.new_record? ? 'Become A Dibber' : 'Change Yo Dibber-ness', class:'btn btn-success') %>
      <% end %>
  </div>
</div>
