<div>
  <h1 id="index_header">Those who dib together, stay together</h1>
  <hr/>
</div>

<%= will_paginate %>

<% @dibbers.each do |dibber|%>
 <div class="row">
   <div class="col-sm-2 col-sm-offset-2 all-white">
     <section class="dibber_info center">
       <%= gravatar_for dibber, size:100 %>
       <h5 id:"index_dibber_name"> Dibber: <%= dibber.name %> </h5>
     </section>
   </div>

   <div class="col-sm-4 col-xs-offset-1 well all-white">
     <h4>
       <%= link_to dibber.name, dibber_path(dibber) %>
     </h4>
     <p>
       <span class="quiet"><small>Started <%= time_ago_in_words(dibber.created_at) %> ago</small></span>

       <span class="quiet pull-right"><small>Updated <%= time_ago_in_words(dibber.updated_at) %> ago</small></span>
     </p>
   </div>

 </div>
<% end %>

<%= will_paginate %>
