<div>
  <h1 id="index_header">Those who dib together, stay together</h1>
  <hr/>
</div>

<%= will_paginate %>
 <div class="row">
   <% @dibbers.each do |dibber|%>
   <div class="col-xs-6 all-white">
     <div class="dibber_info">
       <%= gravatar_for dibber, size:100 %>
       <center>
         <h5 id:"index_dibber_name"> Dibber: <%= link_to dibber.name, dibber_path(dibber) %>
         </h5>
       </center>
       <br>
     </div>
   </div>
<div class="dibber_stats">
   <!-- <div class="col-xs-5 well all-white"> -->
     <h4>
       <%= link_to dibber.name, dibber_path(dibber) %>
     </h4>
     <p>
       <span class="quiet"><small>Started <%= time_ago_in_words(dibber.created_at) %> ago</small></span>

       <span class="quiet pull-right"><small>Updated <%= time_ago_in_words(dibber.updated_at) %> ago</small></span>
     </p>
   <!-- </div> -->
</div>
<% end %>
 </div>
<%= will_paginate %>
