<div>
  <h1 id="index_header">Check out these dibs</h1>
  <hr/>
</div>

<%= will_paginate %>

<% @dibs.each do |dib|%>
 <div class="row">
   <div class="dibber_pic">
     <div class="col-xs-2 all-white">
       <section class="dibber_info center">
         <%= gravatar_for dib.dibber, size:100 %>
         <h5 id:"index_dibber_name"> Dibber: <%= dib.dibber.name %> </h5>
       </section>
     </div>
   </div>

   <div class="col-xs-12 well all-white">
     <h4><%= link_to dib.name, dib_path(dib) %></h4>
     <p><%= dib.note %></p>
     <p>
       <span class="quiet"><small>Called <%= time_ago_in_words(dib.created_at) %> ago</small></span>

       <span class="quiet pull-right" id="updated_at"><small>Updated <%= time_ago_in_words(dib.updated_at) %> ago</small></span>
         <h5 class="all-white"> Dibber: <%= dib.dibber.name %> </h5>
     </p>
   </div>

   <div class="dib_pic">
     <div class="col-xs-12">
       <%= image_tag(dib.picture.url, size: "200x150", class: "gravatar") if dib.picture? %>
     </div>
   </div>


 </div>
 <hr>
<% end %>

<%= will_paginate %>
