<p>
  <h1 id="dib_name">
    <%= @dib.name %>
  </h1>
</p>



<div class="row">
  <div class="col-xs-12 center">
    <div class="show_dib">
      <%= image_tag(@dib.picture.url, class: "gravatar") if @dib.picture? %>
    </div>
    <center>
      <h5 class="show_note">
        <%= @dib.note %>
      </h5>
    </center>
  </div>
  <div class="col-xs-12 center">
    <%= gravatar_for @dib.dibber, size: 200 %>
    <p>
      <center>
        <h5>
          Respect this dib,
        </h5>
        <h5 class="show_name">
          It belongs to: <%= @dib.dibber.name %>
        </h5>
        <% if @dib.rank && @dib.rank < 6 %>
          <h3>Ranked: <%= @dib.rank %></h3>
        <% end %>
      </center>
    </p>
  </div>
</div>
<hr>
<center><%= link_to "See other Dibs", dibs_path, class: "btn btn-lg btn-success viewer"%></center>
<br>
<% if logged_in? && @dib.dibber == current_user  %>
  <center><%= link_to "Edit Dib", edit_dib_path, class: "btn btn-lg btn-success viewer"%></center>
  <br>
  <center><%= link_to "Delete Dib", @dib, method: :delete, data: {:confirm => "are u sure?"}, class: "btn btn-lg btn-danger viewer"%></center>
<% end %>
<% if current_user.super_admin == true  %>
  <center><%= link_to "Edit Dib", edit_dib_path, class: "btn btn-lg btn-warning viewer"%></center>
  <br>
  <center><%= link_to "Delete Dib", @dib, method: :delete, data: {:confirm => "are u sure?"}, class: "btn btn-lg btn-danger viewer"%></center>
<% end %>
